---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import coverNotFound from "~/assets/images/book-cover-not-available.png";
import { getBibliographies } from "~/lib/bibliographies.server";
import { generateBibliographyPaths } from "~/lib/utils/generatePaths";

import CardFooter from "../card/CardFooter.astro";
import CardRoot from "../card/CardRoot.astro";
import CardTitle from "../card/CardTitle.astro";
import PageControl from "../PageControl.astro";

type Props = {
  categoryId: string;
};

const { bibliographies } = await getBibliographies(Astro.props.categoryId);

const formattedBibliographies = generateBibliographyPaths(bibliographies);
---

{
  formattedBibliographies.map((bibliography) => (
    <CardRoot>
      <a href={bibliography.path} data-astro-prefetch>
        <Image
          src={coverNotFound}
          alt={`${bibliography.title}'s cover bibliography`}
          sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
          class="relative aspect-[1/1.5] w-full bg-gray-100 object-cover object-center md:rounded-[10px]"
        />
      </a>
      <CardFooter class="mt-1.5 flex-col items-start gap-0.5 p-0 text-dark-100 dark:text-light-300">
        <CardTitle class="text-base">{bibliography.title}</CardTitle>
        <span class="flex items-center gap-1.5">
          <Icon name="lucide:pencil" size={12} />
          <small class="text-xs">{bibliography.creator}</small>
        </span>
        <div class="flex items-center gap-1.5">
          <Icon name="lucide:layers" size={12} />
          <small class="text-xs">{bibliography.lastPage} halaman</small>
        </div>
      </CardFooter>
    </CardRoot>
  ))
}
{
  bibliographies.length > 0 ? (
    // TODO: hide when there is not enough books or smaller device
    <PageControl
      class="fixed bottom-2.5 left-1/2 translate-x-[20%] rounded-md bg-light-100 px-3.5 py-1.5 dark:bg-dark-100"
      currentPage="1"
      lastPage={1}
    />
  ) : (
    <p class="col-span-full mt-20 text-center text-lg [&>span]:font-semibold [&>span]:text-primary-light [&>span]:dark:text-primary-dark">
      Maaf, kategori yang dipilih saat ini <span>sedang kosong</span>. Tim kami
      sedang bekerja keras untuk menambahkan buku ke kategori ini. Silakan{" "}
      <span>cek kembali</span> nanti untuk pembaruan. Terima kasih atas
      kesabaran dan pengertiannya.
    </p>
  )
}
