---
import BibliographiesListAsync from "~/components/async/BibliographiesListAsync.astro";
import CategoriesListAsync from "~/components/async/CategoriesListAsync.astro";
import Breadcrumb from "~/components/Breadcrumb.astro";
import Layout from "~/layouts/Layout.astro";
import { getCategoryTitle } from "~/lib/categories.server";
import { reverseSlugCaseToOriginal } from "~/lib/utils/helper";
import Time from "~/lib/utils/time";

const { id } = Astro.params;

let title;

try {
  title = await getCategoryTitle(id!).then((category) => category.title);
  if (!Boolean(title)) {
    throw Error();
  }
} catch (_) {
  return Astro.redirect("/404");
}

Astro.locals.cache(Time.minutes(1, 20));

const titleMeta = `Daftar Buku ${title} - Maktaba YARSI`;
const descriptionMeta = `Berikut daftar buku kategori ${title}`;
const urlMeta = `${import.meta.env.SITE}/categories/${id}`;
---

<Layout>
  <Fragment slot="metadata">
    <!-- Primary Meta Tags -->
    <title>{titleMeta}</title>
    <meta name="description" content={descriptionMeta} />
    <meta name="keywords" content={reverseSlugCaseToOriginal(title)} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="book" />
    <meta property="og:url" content={urlMeta} />
    <meta property="og:title" content={titleMeta} />
    <meta property="og:description" content={descriptionMeta} />
    <meta
      property="og:image"
      content="https://drive.google.com/file/d/1uPrp9lSriYIxYDFyXH3B6ysvV4OWvvsO/view"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content={urlMeta} />
    <meta property="twitter:title" content={titleMeta} />
    <meta property="twitter:description" content={descriptionMeta} />
    <meta
      property="twitter:image"
      content="https://drive.google.com/file/d/1uPrp9lSriYIxYDFyXH3B6ysvV4OWvvsO/view"
    />
  </Fragment>
  <aside
    class="fixed flex h-screen w-3/12 flex-col overflow-y-scroll border-r border-black/10 pb-28 pl-8 pr-5 pt-5 [&>div[aria-label=skeleton]]:mb-3 [&>div[aria-label=skeleton]]:ml-auto"
  >
    <h2 class="mb-3 text-2xl font-bold dark:text-light-400">Kategori Buku</h2>
    <!-- TODO: Add categories list skeleton -->
    <CategoriesListAsync activeCategory={id as string} server:defer>
      <p slot="fallback">Sedang membuat daftar kategori...</p>
    </CategoriesListAsync>
  </aside>
  <div
    class="relative ml-auto flex min-h-screen w-9/12 flex-col gap-7 bg-light-300 px-8 pt-5 dark:bg-dark-200"
  >
    <Breadcrumb paths={[{ title }]} />
    <h1 class="text-center text-4xl font-bold capitalize dark:text-light-400">
      Daftar Buku {reverseSlugCaseToOriginal(title)}
    </h1>
    <section
      class="grid grid-rows-none gap-5 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 [&>div[aria-label=skeleton]]:rounded-[10px]"
    >
      <!-- TODO: Add Pagination and Bibliographies fallback skeleton -->
      <BibliographiesListAsync categoryId={id as string} server:defer>
        <p slot="fallback">Sedang membuat daftar buku...</p>
      </BibliographiesListAsync>
    </section>
  </div>
</Layout>
