---
import BibliographyDetailsAsync from "~/components/async/BibliographyDetailsAsync.astro";
import MainContentAsync from "~/components/async/MainContentAsync.astro";
import TableOfContentAsync from "~/components/async/TableOfContentAsync.astro";
import SearchTableAsync from "~/components/search/SearchTableAsync.astro";
import SearchToggle from "~/components/search/SearchToggle.astro";
import Separator from "~/components/Separator.astro";
import BibliographyDetailsSkeleton from "~/components/skeleton/BibliographyDetailsSkeleton.astro";
import MainContentSkeleton from "~/components/skeleton/MainContentSkeleton.astro";
import SearchTableSkeleton from "~/components/skeleton/SearchTableSkeleton.astro";
import Layout from "~/layouts/Layout.astro";

import type { SearchParamsProps } from "~/lib/utils/index.type";

const { searchParams } = Astro.url;

const page = searchParams.get("page");
const id = searchParams.get("id");
const query = searchParams.get("query");
const open = searchParams.get("open");

// TODO: should be move on server validation / middleware
if (!page || !id) {
  return Astro.redirect("/");
}
---

<Layout>
  <Fragment slot="metadata">
    <title>{query} - Maktabah YARSI</title>
    <meta
      name="keywords"
      content="maktabah yarsi, buku islam, perpustakaan islam, pencarian buku"
    />
    <meta http-equiv="Cache-control" content="no-cache, no-store" />
    <meta http-equiv="Pragma" content="no-cache" />
  </Fragment>
  <aside>
    <form
      id="table-of-content"
      action="/api/search"
      method="post"
      class="fixed flex h-screen w-3/12 flex-col gap-3 overflow-y-scroll border-r border-black/10 pb-28 pl-8 pr-5 pt-5 dark:border-gray-800"
    >
      <input
        name="page"
        type="hidden"
        hidden
        aria-hidden="true"
        class="hidden"
      />
      <!-- TODO: refactor to toggleable TOC -->
      <!-- TODO: Add TOC Skeleton heyy! -->
      <TableOfContentAsync id={id} page={page} query="page" server:defer>
        <MainContentSkeleton slot="fallback" />
      </TableOfContentAsync>
    </form>
  </aside>
  <div class="ml-auto flex w-9/12 flex-col gap-5 px-8 pb-20 pt-5">
    <BibliographyDetailsAsync id={id} page={page} server:defer>
      <BibliographyDetailsSkeleton slot="fallback" />
    </BibliographyDetailsAsync>
    <Separator class="m-0 h-px p-0" />
    <MainContentAsync id={id} page={page} query={query!} server:defer>
      <MainContentSkeleton slot="fallback" />
    </MainContentAsync>
    <Separator class="m-0 h-px p-0" />
  </div>
  <div class="fixed bottom-0 right-0 w-9/12 bg-light-100">
    <SearchToggle data-open={open} />
    {
      open === "true" && (
        <SearchTableAsync
          {...(Object.fromEntries(
            searchParams,
          ) as unknown as SearchParamsProps)}
          server:defer
        >
          <SearchTableSkeleton slot="fallback" />
        </SearchTableAsync>
      )
    }
  </div>
</Layout>

<!-- TODO: try to navigate without scroll to top -->
<!-- TODO: use server actions(IMPORTANT!)-->
<script is:inline>
  document
    .getElementById("table-of-content")
    ?.addEventListener("submit", (event) => {
      event.preventDefault();
      event.stopPropagation();

      const clickedAction = event.submitter;
      const input = document
        .getElementById("table-of-content")
        .querySelector("input");
      input?.setAttribute("value", clickedAction.getAttribute("data-value"));

      document.getElementById("table-of-content").submit();
    });
</script>

<style>
  @font-face {
    font-family: "LPMQ Isep Misbah";
    src: url("/lpmq.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
